<h2><%= @recipe.name %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel">
      <div class="panel-heading">
        <h4>Ingredients</h4>
      </div>
      <% @recipe.ingredients.each do |ingredient| %>
        <ul class="list-group">
          <li class="list-group-item"><%= ingredient.amount %> <%= ingredient.ingredient %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel">
      <div class="panel-heading">
        <h4>Directions</h4>
      </div>
      <% @recipe.instructions.each do |instruction| %>
        <ol class="list-group">
          <li class="list-group-item"><%= instruction.instruction %></li>
        </ol>
      <% end %>
    </div>
  </div>
</div>

<form action="/recipe/ingredients" method="post">
  <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">

  <label for="ingredient">Ingredient</label>
  <input type="text" name="ingredient">

  <label for="amount">Amount</label>
  <input type="text" name="amount">

  <button type="submit" class="btn btn-primary">Add</button>
</form>

<form action="/recipe/instructions" method="post">
  <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">

  <label for="instruction">Instruction</label>
  <input type="text" name="instruction">

  <button name="submit" class="btn btn-primary">Add</button>
</form>
